@charset "utf-8";

html{box-sizing:border-box;-webkit-text-size-adjust:100%}*,:after,:before{background-repeat:no-repeat;box-sizing:inherit}:after,:before{text-decoration:inherit;vertical-align:inherit}*{padding:0;margin:0}audio:not([controls]){display:none;height:0}hr{overflow:visible}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}summary{display:list-item}small{font-size:80%}[hidden],template{display:none}abbr[title]{border-bottom:1px dotted;text-decoration:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}code,kbd,pre,samp{font-family:monospace,monospace}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}input{border-radius:0}[role=button],[type=button],[type=reset],[type=submit],button{cursor:pointer}[disabled]{cursor:default}[type=number]{width:auto}[type=search]{-webkit-appearance:textfield}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;resize:vertical}button,input,optgroup,select,textarea{font:inherit}optgroup{font-weight:700}button{overflow:visible}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:0;padding:0}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button:-moz-focusring{outline:1px dotted ButtonText}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}button,select{text-transform:none}button,input,select,textarea{background-color:transparent;border-style:none;color:inherit}select{-moz-appearance:none;-webkit-appearance:none}select::-ms-expand{display:none}select::-ms-value{color:currentColor}legend{border:0;color:inherit;display:table;max-width:100%;white-space:normal}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}img{border-style:none;vertical-align: bottom}progress{vertical-align:baseline}svg:not(:root){overflow:hidden}audio,canvas,progress,video{display:inline-block}@media screen{[hidden~=screen]{display:inherit}[hidden~=screen]:not(:active):not(:focus):not(:target){position:absolute!important;clip:rect(0 0 0 0)!important}}[aria-busy=true]{cursor:progress}[aria-controls]{cursor:pointer}[aria-disabled]{cursor:default}::-moz-selection{background-color:#b3d4fc;color:#000;text-shadow:none}::selection{background-color:#b3d4fc;color:#000;text-shadow:none}ul,ol{list-style:none;}a{text-decoration:none;}.wrapper{overflow:hidden;}body{overflow-y:scroll;}


/* ここからyamagamiスタイル */

.yamagami-container{
    width: 70%;
    margin: 20px auto 0;
}

.yamagami-main-title{
    margin-bottom: 20px;
}
.yamagami-main{
    margin-bottom: 40px;
}

.yamagami-box{
    width: 100%;
    margin: 0 auto 50px;
    padding: 10px;
    border: 1px dotted #b3d4fc;
}

.yamagami-title{
    border-left: 10px solid #4682b4;
    padding-left: 15px;
    margin-bottom: 20px;
}

.yamagami-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.yamagami-photo{
    width: calc(50% - 10px);
}
.yamagami-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.yamagami-txt{
    text-align: center;
    margin: 10px auto 30px;
}
/* ここからスタイル */

.onuki-box{
width:80%;
margin:2rem auto 4rem;
padding:0 2rem;
font-family: 'Noto Sans JP', sans-serif;
color:#222;
}

/* タイトル */
.onuki-title{
margin:6rem 0 1rem;
font-size:1.2rem;
font-weight: 500;
padding-left:1rem;
border-left:1rem solid #222;
}

/* テキストと写真のwrapper */
.onuki-box-inner{
max-width:960px;
display: flex;
margin-bottom:8rem;
}

/* テキスト */
.onuki-txt-box{
max-width:560px;
height:300px;
padding:0 3rem 0 2rem;
display: table;
}
.onuki-txt-box>p{
display:table-cell;
vertical-align: middle;
text-align:justify;
font-feature-settings:"palt";
font-weight: 400;
line-height: 1.7rem;
}

/* 写真 */
.onuki-photo-box{
max-width:400px;
}
.onuki-photo-box img{
max-width:400px;
}

/* 上下の線 */
.onuki-border{
max-width:6rem;
height: 1px;
margin:0 auto;
background-color:#222;
border: none;
}

/* ここからスタイル */


/* お邪魔します */
.tery-main{
    width: 100%;
    margin: 60px 0;
}

.tery-wrapper{
    width: 70%;
    padding: 40px 0 20px;
    border-top: 5px solid #000;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.tery-photo{
    width: 40%;
}

.tery-photo img{
    max-width: 100%;
}

.tery-text{
    width: 57%;
}

.tery-title{
    display: block;
    width: 100%;
    height: 32px;
    padding-left: 20px;
    line-height: 32px;
    border-left: 15px solid #000;
    font-family: serif;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 20px;
}

/* ここからヤジマスタイル */
.yajima-box{
max-width: 1000px;
margin: 0 auto;
}
.yajima-title{
text-align: center;
font-size: 60px;
padding: 40px 0;
font-family: fantasy;
}
.yajima-visual{
margin: 0 auto 30px;
}
.yajima-txt{
margin-bottom: 80px;
}
.yajima-content{
margin-bottom: 80px;
display: flex;
justify-content: space-between;
}
.yajima-box-photo{
width: 60%;
height: 400px;
}
.yajima-box-photo>img{
object-fit: cover;
width: 100%;
height: 100%;
}
.yajima-box-txt{
width: 38%;
}
.yajima-box-title{
margin-bottom: 20px;
text-align: center;
font-size: 32px;
font-family: fantasy;
position: relative;
padding: 0 20px;
text-align: center;
}
.yajima-box-title:before {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  background: #000;
}
.yajima-box-title span {
  position: relative;
  padding: 0 1em;
  background: #fff;
}

/* ここから中山スタイル_失礼します */


.nakayama_box{
    width: 90%;
    margin: 0 auto;
}

.nakayama_box>.title{
    width: 80%;
    margin: 10px auto 30px;
}

.nakayama_box>.photo{
    width: 100%;
    
}

.nakayama_box img{
    max-width: 100%;
}
.nakayama_box>.txt{
    text-align: center;
    margin: 10px 0 50px;
    line-height: 1.8;
}


.nakayama_box span{
    color: rgb(216, 42, 12);
    font-size: 26px;
    font-weight: bold;
}

.nakayama_box>.sub{
    max-width: 1200px;
    margin: 0 auto 100px;
    display: flex;
    justify-content: space-between;
}

.nakayama_box h3{

    text-align: center;    
    margin:0 auto 20px;
}

.nakayama_box>.sub>.box{
    width: 32%;
    padding: 20px;
    box-sizing: border-box;
}

.nakayama_box>.sub>.box span{
    color: #7AA36D;
}

.nakayama_box>.sub>.box>.photo{
    max-width: 600px;
    overflow: hidden;
    margin-bottom: 20px;
}

.nakayama_box>.sub>.box>.photo>img{
   max-width: 100%;   
}

.nakayama_box>.sub>.box>p{
    text-align: center;
}

.nakayama_box>.sub>.box>.line{
    width: 95%;
    margin: 30px auto 0;
    border-bottom: 4px dashed #7AA36D;
}


.nakayama_box>.sub>.box:hover img{
    transform: scale(1.2) translate(20px,15px);
    transition: 0.3s;   
}

/* 中山スタイル終了_お邪魔しました */
